{% extends "base.html" %}
{% load static %}

<body id="bg">
  <div class="page-wraper">
    <div id="loading-area">
      <div class="la-anim-10"></div>
    </div>
    {% block content %}
      <!-- header -->
      <!-- header END -->
      <!-- Content -->
      <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-primary">
          <div class="container">
            <div class="dlab-bnr-inr-entry">
              <h1 class="text-white" style="text-align: center; letter-spacing: .7px; font-size: 37px;">Blog</h1>
            </div>
          </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-block">
          <!-- About Us -->
          <div class="blog-wap">
            <div id="cont" class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="row" style="padding-top: 33px;">
                    <div class="blog-categories">
                      <div>
                        <h6>Explore By Categories</h6>
                        <ul>
                          {%for cat in categories%}
                            <li>
                              <a class="blog-link active" href="{%url 'sort-blog' cat.slug %}" id="page1">{{cat.category}}</a>
                            </li>
                          {%endfor%}
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-12">
                      <div class="main-boxwap">
                        <div class="row row-actuals whole-blog-box blog-page-content">
                          {%for each in filters%}
                            <div class="col-md-6 blog-page-card blog-box blog-page-box">
                              {% for cat in categories %}
                                {% if each.category == cat %}
                                  <div class="blog-entry"  style="box-shadow: 0 0 0px 0 #ccc;">
                                    <a href="{% url 'singleblog' cat.slug each.slug %}" class="block-20 d-flex align-items-end">
                                      <div class="blog-images">
                                        <img src="{{each.heading_image.url}}" width="100%">
                                      </div>
                                    </a>
                                    <div class="bg-white2 bg-box card-box">
                                      <div class="card-label" style="background-color: #0063ff;">{{each.category}}</div>
                                      <h2 class="heading" style="margin-left:10px"><a href="{% url 'singleblog' cat.slug each.slug %}">{{each.title}}</a></h2>
                                      <p style="margin-left:10px">{{each.short_desc | truncatechars:90}}</p>
                                    </div>
                                  </div>
                                  <div class="card author">
                                    <div class="row g-0">
                                      <div class="col-md-7 card-col">
                                        <img src="{{each.author.image.url}}" class="img-fluid rounded-start" alt="..." width="100%">
                                        <div class="card-body md-body">
                                          <h5 class="card-title card-md">{{each.author.name}}</h5>
                                          <p class="card-text"><small class="text-body-secondary">{{each.date_of_modification}}</small></p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          {%endfor%}
                        </div>
                        <div class="noOutput"><div class="row blog-data"></div></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if filters.has_other_pages %}
          <ul class="job-pagination">
            {% if filters.has_previous %}
                <a class="btn btn-outline-warning mb-4 hov" href="?page={{filters.previous_page_number}}">« Prev</a>
                {% if filters.number > 3 %}
                <a class="btn btn-outline-warning mb-4 hov" href="?page=1">1</a>
                {% if filters.number > 4 %}
                <button class="btn btn-outline-warning mb-4 hov" disabled="">...</button>
                {% endif %}
                {% endif %}
                {% endif %}

                {% for num in filters.paginator.page_range %}
                {% if filters.number == num %}
                <a class="btn btn-warning mb-4 active" href="?page={{num}}">{{ num }}</a>
                {% elif num > filters.number|add:'-3' and num < filters.number|add:'3' %}
                <a class="btn btn-outline-warning mb-4 hov" href="?page={{num}}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if filters.has_next %}
                {% if filters.number < filters.paginator.num_pages|add:'-3' %}
                <button class="btn btn-outline-warning mb-4 hov" disabled="">...</button>
                <a class="btn btn-outline-warning mb-4 hov" href="?page={{filters.paginator.num_pages}}">{{ filters.paginator.num_pages }}</a>
                {% elif filters.number < filters.paginator.num_pages|add:'-2' %}
                <a class="btn btn-outline-warning mb-4 hov" href="?page={{filters.paginator.num_pages}}">{{ filters.paginator.num_pages }}</a>
                {% endif %}
                <a class="btn btn-outline-warning mb-4 hov" href="?page={{filters.next_page_number}}">Next »</a>
            {% endif %}
            </ul>
        {% endif %}
      </div>
      <div class="section-full overlay-primary-dark bg-img-fix letstouch">
        <div class="container">
          <div class="let-top">
            <h2 class="box-title m-b15" >Let's get in touch<span class="bg-primary"></span></h2>
            <p class="font-16 op8">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-5 chosesus-content text-white bx-style-1 extraPadding">
              <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.4s">
                <div class="icon-bx-wraper bx-style-1 radius-sm">
                  <div class="icon-content">
                    <h5 class="dlab-tilte">
                      <span class="icon-sm text-primary text-left"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                      E-mail
                    </h5>
                    <p class="m-b0"><a href="mailto:info@vigisolvo.com">info@vigisolvo.com</a></p>
                    <p class="m-b0"><a href="mailto:hr@vigisolvo.com">hr@vigisolvo.com</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                <div class="icon-bx-wraper bx-style-1 radius-sm">
                  <div class="icon-content mt-3">
                    <h5 class="dlab-tilte">
                      <span class="icon-sm text-primary text-left"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span>
                      Phone Number
                    </h5>
                    <p><a href="tel:+917987768061">+91 798-776-8061</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                <div class="icon-bx-wraper bx-style-1 radius-sm">
                  <div class="icon-content mt-3">
                    <h5 class="dlab-tilte">
                      <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                      Telegram
                    </h5>
                    <p><a href="https://t.me/mradul010" target ="_blank">+91 8859994143</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                <div class="icon-bx-wraper bx-style-1 radius-sm">
                  <div class="icon-content mt-3">
                    <h5 class="dlab-tilte">
                      <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                      Skype
                    </h5>
                    <p><a href="skype:techsolvo05?chat" target ="_blank">techsolvo05</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7  m-b30">
              {% include 'pagecontact.html' %}
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    {% endblock content %}
  </div>
  </diV>
</body>


{% block scripts %}
  <script type="text/javascript">
    const term = document.querySelector("#term");
    const no_Output = document.querySelector(".noOutput");
    const blog_Result = document.querySelector(".row-actuals");
    const blog_Data = document.querySelector(".blog-data");
    no_Output.style.display = "none";
    term.addEventListener('keyup', (e) => {
      const searchValue = e.target.value;
      if(searchValue.trim().length>0){
          console.log('searchValue',searchValue);
          fetch("/typesearch", {
              body: JSON.stringify({ searchText : searchValue}),
              method : 'POST',
          })
          .then((res) => res.json())
          .then((data) => {
              console.log('data',data);
              blog_Data.innerHTML=""
              blog_Result.style.display = "none";
              no_Output.style.display = "block";
              if(data.length === 0){
                  no_Output.innerHTML = "No Results Found";
              }
              else {
                  console.log(data.length)
                  for(let i=0; i<data.length; i++){
                      let item = data[i]
                      blog_Data.innerHTML += `
                        <div class="col-md-6">
                          <div class="blogResult">
                            <div class="blog-entry">
                              <a href="${item.slug}" class="block-20 d-flex align-items-end" >
                                <div class="blog-images"><img src="/media/${item.heading_image}" ></div>
                              </a>
                              <div class="meta-date text-center"><span class="day">${item.date_of_creation}</span></div>
                              <div class="bg-white2">
                                <h2 class="heading"><a href="${item.slug}">${item.title}</a></h2>
                                <p>${item.short_desc}</p>
                                <div class="d-flex align-items-center mt-4">
                                  <p class="mb-0"><a href="${item.slug}" class="bunow">Read More</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      `
                  }
              }
          });
      }
      else{
          no_Output.style.display = "none";
          blog_Result.style.display = "";
      }
    });
  </script>
  <script>
    var pageform = $('#contactForm');
    pageform.submit(function (e) {
      e.preventDefault();
      $('#contactFormSubmit').html("<div class='quoteloader'></div>");
      $.ajax({
        type: pageform.attr('method'),
        url: pageform.attr('action'),
        data: $(pageform).serialize(),
        success: function(res) {
          if (res.status == 1){
            swal("Thank You!", "for reaching out to us! We appreciate your interest and will get back to you as soon as possible.", "success");
            $('#contactForm').trigger("reset");
            $('#contactFormSubmit').html("Submit");
          } else {
            swal("Error","Please complete the reCAPTCHA","error")
            $('#contactFormSubmit').html("Submit");
          };
        },
        error: function(error) {
          swal("Error","Enter the correct value","error")
          $('#contactFormSubmit').html("Submit");
          console.log(error);
        }
      });
    });
  </script>
{% endblock scripts %}