{% extends "base.html" %}
{% load static %}
<body id="bg">
   <div class="page-wraper">
      <div id="loading-area">
         <div class="la-anim-10"></div>
      </div>
      {% block content %}
      <!-- header -->
      <!-- header END -->
      <!-- Content -->
      <div class="full-section">
         <!-- inner page banner -->
         <div class="dlab-bnr-inr overlay-primary-dark contact-page">
            <div class="container">
               <div class="row">
                  <div class="col-lg-5 col-xs-4">
                     <div class="row text-white">
                        <div class="col-lg-12 col-md-6  col-sm-12 wow fadeIn" data-wow-delay="0.4s">
                           <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                              <div class="icon-content">
                                 <h5 class="dlab-tilte">
                                    <span class="icon-sm text-primary text-left">
                                    <i class="fa fa-location-arrow"></i>
                                    </span> Company Address
                                 </h5>
                                 <a href="https://g.page/Vigisolvo-indore?share" target="_blank">
                                    <p>203, 5A Ratlam Kothi, Geeta Bhavan, Indore, Madhya Pradesh 452001</p>
                                 </a>
                                 
                                 <h6 class="m-b15 font-weight-400">
                                    <i class="ti-alarm-clock"></i> Office Hours
                                 </h6>
                                 <p class="m-b0">Mon To Fri - 10:00AM-7:00PM</p>
                                 <p>Saturday / Sunday - Close</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 col-md-6  col-sm-12 wow fadeIn" data-wow-delay="0.6s">
                           <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                              <div class="icon-content">
                                 <h5 class="dlab-tilte">
                                    <span class="icon-sm text-primary text-left">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </span> E-mail
                                 </h5>
                                 <p class="m-b0">
                                    <a href="mailto:info@vigisolvo.com">info@vigisolvo.com</a>
                                 </p>
                                 <p class="m-b0">
                                    <a href="mailto:hr@vigisolvo.com">hr@vigisolvo.com</a>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12 col-md-6  col-sm-12 wow fadeIn contact-details" data-wow-delay="0.8s">
                          <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                            <div class="icon-content">
                              <h5 class="dlab-tilte">
                                <span class="icon-sm text-primary text-left">
                                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </span> Sales Inquiry
                              </h5>
                              <p>
                                <a href="tel:+917987768061">+91 798-776-8061</a>
                              </p>
                            </div>
                            <div class="icon-content">
                              <h5 class="dlab-tilte">
                                <span class="icon-sm text-primary text-left">
                                  <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </span> HR Inquiry
                              </h5>
                              <p>
                                <a href="tel:+919669384334">+91 966-938-4334</a>
                              </p>
                            </div>
                          </div>
                        </div>
                     </div>
                  </div>
                  <!-- forms -->
                  <div class="col-md-7 mb-4">
                     {% include 'pagecontact.html' %}
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <a href="https://t.me/mradul010" target="_blank"></a>
                     <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                        <div class="icon-content mt-3">
                           <a href="skype:Vigisolvo05?chat" target="_blank">
                              <h5 class="dlab-tilte">
                                 <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                                 Telegram
                              </h5>
                              <p>+91 7987768061 </p>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="icon-bx-wraper bx-style-1 p-a20 radius-sm">
                        <a href="skype:Vigisolvo05?chat" target="_blank"></a>
                        <div class="icon-content mt-3">
                           <a href="skype:Vigisolvo05?chat" target="_blank">
                              <h5 class="dlab-tilte">
                                 <span class="icon-sm text-primary text-left"><i class="fa fa-skype" aria-hidden="true"></i></span>
                                 Skype
                              </h5>
                              <p>Vigisolvo05 </p>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row damiwidgt">
         <div class="col-lg-12 col-md-6 col-sm-6 mt-4">
            <iframe
               style="border-radius: 15px;"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.758124030161!2d75.86546191496186!3d22.700046385117336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd82ab00712f%3A0x4e9d2464ddf5c6dd!2sVigisolvo%20LLP!5e0!3m2!1sen!2sin!4v1593109747531!5m2!1sen!2sin"
               width="100%"
               height="420"
               frameborder="0"
               style="border:0;"
               allowfullscreen=""
               aria-hidden="false"
               tabindex="0"
               >
            </iframe>
         </div>
      </div>
      {% endblock content %}
   </div>
   </div>
   </div>
   <!-- Content END-->
   <!-- Footer -->
   <!-- Footer END-->
   <!-- scroll top button -->
   </div>
   {% block scripts %}

   <script>
      $(document).ready(function () {
         var pageform = $('#contactForm');
         var submitButton = $('#contactFormSubmit');
         
         pageform.submit(function (e) {
             e.preventDefault(); 
             
             var successMessage = "We have received your message.";
             var errorMessage = "Invalid reCAPTCHA. Please try again.";
             var flagMessage = "Your request was flagged as a spam!";
             
             submitButton.prop('disabled', true).text("Processing...");
             
             $.ajax({
                 type: pageform.attr('method'),
                 url: pageform.attr('action'),
                 data: pageform.serialize(),
                 dataType: 'json',
                 success: function (res) {
                     if (res.status === 'success') {
                         $('#commitSucccessmsg')
                             .html('<div class="alert alert-success">' + successMessage + '</div>')
                             .slideDown()
                             .delay(2000)
                             .slideUp();
                         
                         pageform[0].reset();
                         grecaptcha.reset();
                     } else {
                         $('#commitSucccessmsg')
                             .html('<div class="alert alert-danger">' + errorMessage + '</div>')
                             .slideDown()
                             .delay(2000)
                             .slideUp();
                     }
                     
                     submitButton.prop('disabled', false).text("Submit");
                 },
                 error: function (xhr) {
                     var responseJSON = xhr.responseJSON; 
                     if (xhr.status === 400 && responseJSON && responseJSON.error) {
                         $('#commitSucccessmsg')
                             .html('<div class="alert alert-danger">' + flagMessage + '</div>')
                             .slideDown()
                             .delay(2000)
                             .slideUp();
                     } else {
                         $('#commitSucccessmsg')
                             .html('<div class="alert alert-danger">' + errorMessage + '</div>')
                             .slideDown()
                             .delay(2000)
                             .slideUp();
                     }
                     
                     pageform[0].reset();
                     grecaptcha.reset();
                     submitButton.prop('disabled', false).text("Submit");
                 }
             });
         });
     });
     
      {% comment %} var pageform = $('#contactForm');
      pageform.submit(function (e) {
        e.preventDefault();

        $('#contactFormSubmit').html("<div class='quoteloader'></div>");

        $.ajax({
          type: pageform.attr('method'),
          url: pageform.attr('action'),
          data: $(pageform).serialize(),
          success: function(res) {

            $('#commitSucccessmsg').html(`<div class="successmessage">${res.message}</div>`).fadeIn(50);
            setTimeout(function() {
              $('#contactFormSubmit').html("Submit"); 
              $('#contactForm')[0].reset();  
              grecaptcha.reset();
            }, 50);  
            setTimeout(function() {
               $('#commitSucccessmsg').fadeOut(50);
            }, 3000);
            
            if (res.status === 'success') {
               $('#commitSucccessmsg').html(`<div class="successmessage">${res.message}</div>`).fadeIn(50);
            } else {
               swal("Error", "There was an issue with your submission. Please try again.", "error");
            }
          },
          error: function(error) {
            setTimeout(function() {
              $('#contactFormSubmit').html("Submit");
            }, 1000);
            swal("Error", "There was an issue with the submission. Please try again.", "error");
            console.log(error);
          }
        });
      }); {% endcomment %}
   </script>
   {% endblock scripts %}
   </boody>
