<div class="faq">
  <div class="container">
    <div class="section-heading center-holder text-center">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="faq-contnet">
          <div class="dlab-accordion faq-1 box-sort-in m-b30" id="accordionone">
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqone"
                    class="collapsed"
                    data-parent="#faqone"
                    aria-expanded="false"
                  >
                    What is ERPNext and how does it benefit manufacturing?
                  </a>
                </h6>
              </div>
              <div id="faqone" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo provides a comprehensive overview of ERPNext,
                  demonstrating its capabilities in streamlining manufacturing
                  processes, enhancing efficiency, and reducing operational
                  costs.
                </div>
              </div>
            </div>
          </div>

          <div class="dlab-accordion faq-1 box-sort-in m-b30" id="accordiontwo">
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqtwo"
                    class="collapsed"
                    data-parent="#faqtwo"
                    aria-expanded="false"
                  >
                    How can ERPNext improve production planning and control?
                  </a>
                </h6>
              </div>
              <div id="faqtwo" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo offers tailored solutions to enhance production
                  planning and control using ERPNext, ensuring optimal resource
                  utilization and minimizing production downtime.
                </div>
              </div>
            </div>
          </div>

          <div
            class="dlab-accordion faq-1 box-sort-in m-b30"
            id="accordionthree"
          >
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqthree"
                    class="collapsed"
                    data-parent="#faqthree"
                    aria-expanded="false"
                  >
                    Can ERPNext integrate with existing manufacturing equipment?
                  </a>
                </h6>
              </div>
              <div id="faqthree" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo’s integration services ensure seamless integration
                  of ERPNext with your existing manufacturing equipment and
                  systems, facilitating real-time data exchange and process
                  automation.
                </div>
              </div>
            </div>
          </div>

          <div
            class="dlab-accordion faq-1 box-sort-in m-b30"
            id="accordionfour"
          >
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqfour"
                    class="collapsed"
                    data-parent="#faqfour"
                    aria-expanded="false"
                  >
                    What are the cost implications of implementing ERPNext in
                    manufacturing?
                  </a>
                </h6>
              </div>
              <div id="faqfour" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo provides detailed cost analysis and ROI projections,
                  helping manufacturers understand the financial benefits and
                  investment requirements of ERPNext implementation.
                </div>
              </div>
            </div>
          </div>

          <div
            class="dlab-accordion faq-1 box-sort-in m-b30"
            id="accordionfive"
          >
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqfive"
                    class="collapsed"
                    data-parent="#faqfive"
                    aria-expanded="false"
                  >
                    How does ERPNext handle inventory management for
                    manufacturing?
                  </a>
                </h6>
              </div>
              <div id="faqfive" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo customizes ERPNext to manage inventory efficiently,
                  reducing excess stock, minimizing shortages, and optimizing
                  the supply chain.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
