<div class="faq">
  <div class="container">
    <div class="section-heading center-holder text-center">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="faq-contnet">
          <div class="dlab-accordion faq-1 box-sort-in m-b30" id="accordionone">
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqone"
                    class="collapsed"
                    data-parent="#faqone"
                    aria-expanded="false"
                  >
                    How does ERPNext benefit retail businesses?
                  </a>
                </h6>
              </div>
              <div id="faqone" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo demonstrates how ERPNext enhances retail operations,
                  from inventory management to sales tracking and customer
                  engagement.
                </div>
              </div>
            </div>
          </div>

          <div class="dlab-accordion faq-1 box-sort-in m-b30" id="accordiontwo">
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqtwo"
                    class="collapsed"
                    data-parent="#faqtwo"
                    aria-expanded="false"
                  >
                    Can ERPNext handle multi-store operations?
                  </a>
                </h6>
              </div>
              <div id="faqtwo" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo configures ERPNext to manage multi-store operations
                  efficiently, providing centralized control and real-time data
                  access across all locations.
                </div>
              </div>
            </div>
          </div>

          <div
            class="dlab-accordion faq-1 box-sort-in m-b30"
            id="accordionthree"
          >
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqthree"
                    class="collapsed"
                    data-parent="#faqthree"
                    aria-expanded="false"
                  >
                    What are the key features of ERPNext for inventory
                    management in retail?
                  </a>
                </h6>
              </div>
              <div id="faqthree" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo tailors ERPNext to optimize inventory management,
                  ensuring accurate stock levels, minimizing shortages, and
                  improving reorder processes.
                </div>
              </div>
            </div>
          </div>

          <div
            class="dlab-accordion faq-1 box-sort-in m-b30"
            id="accordionfour"
          >
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqfour"
                    class="collapsed"
                    data-parent="#faqfour"
                    aria-expanded="false"
                  >
                    How does ERPNext enhance customer relationship management
                    (CRM) in retail?
                  </a>
                </h6>
              </div>
              <div id="faqfour" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo integrates advanced CRM features into ERPNext,
                  helping retail businesses track customer preferences, improve
                  service, and boost sales.
                </div>
              </div>
            </div>
          </div>

          <div
            class="dlab-accordion faq-1 box-sort-in m-b30"
            id="accordionfive"
          >
            <div class="panel">
              <div class="acod-head">
                <h6 class="acod-title">
                  <a
                    data-bs-toggle="collapse"
                    href="#faqfive"
                    class="collapsed"
                    data-parent="#faqfive"
                    aria-expanded="false"
                  >
                    What support does Vigisolvo provide during and after ERPNext
                    implementation?
                  </a>
                </h6>
              </div>
              <div id="faqfive" class="acod-body collapse" style="">
                <div class="acod-content">
                  Vigisolvo offers comprehensive support services, including
                  training, troubleshooting, and ongoing maintenance to ensure
                  smooth ERPNext operations.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
