{% load static %}
<div class="marquee-area overflow-hidden">
    <div class="marquee-content_wrapper">
       <div class="marquee">
          <div class="marquee-group">
             <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Manufacturing</div>
             <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Hospitality</div>
             <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Retail</div>
             <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Warehouse</div>
             <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Education</div>
             <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Healthcare</div>
          </div>
          <div aria-hidden="true" class="marquee-group">
            <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Manufacturing</div>
            <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Hospitality</div>
            <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Retail</div>
            <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Warehouse</div>
            <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Education</div>
            <div class="item"><img src="{% static 'assets/images/star.svg' %}" alt="star">ERP for Healthcare</div>
          </div>
       </div>
    </div>
</div>