<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h2 class="text-white fontstylenew">Let's Convert Your Idea into Reality</h2>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form id="my_contact" method="post" action="{% url 'request_quote' %}">
           <div class="row">
             <div class="col-lg-6">
               <div class="form-group">
                 <div class="input-group">
                   <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                   <input name="dzName" type="text" required class="form-control" placeholder="First Name">
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="form-group">
                 <div class="input-group">
                   <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                   <input name="dzLName" type="text" required class="form-control" placeholder="Last Name">
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="form-group">
                 <div class="input-group">
                   <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                   <input name="dzEmail" type="email" class="form-control" required placeholder="Your Email Id">
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="form-group">
                 <div class="input-group">
                   <span class="input-group-text"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                   <input name="dzOther[Phone]" type="text" required pattern="[0-9]{10,15}" class="form-control" oninvalid="this.setCustomValidity('Please enter valid phone number')" oninput="this.setCustomValidity('')" placeholder="Phone">
                 </div>
               </div>
             </div>
             <div class="col-lg-12">
               <div class="form-group">
                 <div class="input-group">
                   <span class="input-group-text"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                   <textarea name="dzMessage" rows="4" class="form-control" required placeholder="Tell us about your project or idea"></textarea>
                 </div>
               </div>
             </div>
             <div class="col-lg-12" style="margin-left: 31px;">
                  <div class="form-group">
                     <div class="input-group">
                        <div class="g-recaptcha" data-sitekey="6LfLft8rAAAAAOnwErpS5z7KHp3mhr6ELcGOoAgv"></div>
                     </div>
                  </div>
             </div>
             <div class="col-lg-12 text-center mt-4">
               <button name="submit" id="modalsubmit" type="submit" value="Submit" class="btn button-lg btn-primary">Get A Free Quote!</button>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
 {% block scripts %}
<!-- Book a Demo -->
<script>
   var pageform = $('#quoteForm'); 
   pageform.submit(function (e) {
     e.preventDefault();

     <!-- $('#submitquote').html("<div class='quoteloader'></div>");   -->
     
     $.ajax({
       type: pageform.attr('method'),  
       url: pageform.attr('action'),  
       data: $(pageform).serialize(),  
       success: function(response) {
         
         $('#Succcessmsg').html(`<div class="successmessage">${response.message}</div>`).fadeIn(1000);

         setTimeout(function() {
            $('#submitquote').html("Submit");  
            $('#quoteForm').trigger("reset");  
            $('#Succcessmsg').fadeOut(1000);  
            grecaptcha.reset();  t
          }, 1000);  
          if (res.status === 'success') {
            $('#Succcessmsg').html(`<div >${response.message}</div>`).fadeIn(1000);
          } else {
            swal("Error", "There was an issue with your submission. Please try again.", "error");  
          }
        },
        error: function(error) {
          
          setTimeout(function() {
            $('#submitquote').html("Submit");  
          }, 1000);
          swal("Error", "There was an issue with the submission. Please try again.", "error");  
          console.log(error);  
        }
      });
   });
</script>
{% endblock scripts %}
