<main>
    <ul class="infoGraphic"> 
      <li>
        <div class="numberWrap">
          <div class="number fontColor1">1</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconCodepen"></div>
          <h2>Requirements Gathering</h2>
          <p>Our team works with you to gather information about your project, including the technical requirements and the type of developer you need.</p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number fontColor2">2</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconSocial"></div>
          <h2>Talent<br> Sourcing</h2>
          <p>We use our network of top-quality developers to source the best candidates for your project.</p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number  fontColor3">3</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
          <div class="icon iconAirplane"></div>
          <h2>Candidate Selection</h2>
          <p>Once we have identified a shortlist of candidates,You will have the opportunity to meet with each candidate and assess their skills and experience.</p>
        </div>
      </li>
      <!-- <div class="four-five"> -->
        <li>
          <div class="numberWrap">
            <div class="number  fontColor4">4</div>
            <div class="coverWrap">
              <div class="numberCover"></div>
            </div>
          </div>
          <div class="content">
            <div class="icon iconMap"></div>
            <h2>Final <br> Selection</h2>
            <p>Once you have identified the candidate you want to work with, we will work with you to finalize the contract and
              onboard the developer.</p>
          </div>
        </li>
        <li>
          <div class="numberWrap">
            <div class="number  fontColor5">5</div>
            <div class="coverWrap">
              <div class="numberCover"></div>
            </div>
          </div>
          <div class="content">
            <div class="icon iconBulb"></div>
            <h2>Ongoing Support</h2>
            <p>Our project management team will work with you to manage the project and ensure that it is completed on time and
              within budget.</p>
          </div>
        </li>
        <li>
          <div class="numberWrap">
            <div class="number  fontColor6">6</div>
            <div class="coverWrap">
              <div class="numberCover"></div>
            </div>
          </div>
          <div class="content">
            <div class="icon iconProject"></div>
            <!-- <i class="fa fa-tasks" aria-hidden="true"></i> -->
            <h2>Project Management</h2>
            <p>We provide ongoing support throughout the project to ensure that any issues are resolved quickly and efficiently.
            </p>
          </div>
        </li>
      <!-- </div> -->
    </ul>
  
  </main>
  
  <!-- <div class="controls">
    <div class="sliderBox">
      <input id="range" type="range" name="font-size" min=".6" max="1.5" value="1" step=".1" data-units="rem" />
      <div>Scale in rems: <span class="range-value"></span></div>
    </div>
  </div> -->