<html>
<head>
    <meta charset="utf-8">
    <title>Applied Details of Candidate</title>
</head>
<body>
    <p>Hello,</p>
    <p>This was applied for the job on Vigisolvo Careers. Please find the following details:</p>
    <ul>
        <li>Name: {{ name }}</li>
        <li>Phone: {{ phone }}</li>
        <li>Email: {{ email }}</li>
        <li>Experience: {{ experience }}</li>
        <li>Reffered by: {{ referral }}</li>
    </ul>
    <p>Above Attached is the resume/CV for your review.</p>
</body>
</html>