{% extends "base.html" %}
{% load static %}

{% block head %}
  <meta charset="utf-8">
  <meta name="description" content="{{page_meta_description}}">
  <meta name="title" content="{{ page_meta_title }}">
  <meta name="keywords" content= "{{page_meta_keyword}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href="{% static 'assets/css/owl.carousel.min.css' %}" type='text/css' media='all'/>
{% endblock %}

{% block title %}
      <title>{{ page_meta_title }}</title>
{% endblock %}

<body id="bg">
{% block content %}
  <div class="page-wraper">
    <div class="page-content bg-white">
      <div id="overlay-with-form-id">
        <div class="dlab-bnr-inr overlay-primary overlay-with-form">
          <div class="container " id="get-touch-form">
            <div class="dlab-bnr-inr-entry enter2wap">
              {% if page_content %}
                <h1 class="text-white">{{page_content.name}}</h1>
                <p>{{page_content.description|safe}}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="overlay-form">
          {% include 'Modal2.html' %}
        </div>
      </div>
      <div class="content-block">
        <div class="hire-container" id="hire_developer">
          <div class="section-heading center-holder text-center">
            <h2 style="color: white!important;">Services</h2>
          </div>
          <div class="developer-container">
            {% for category, developers in service_dict.items %}
              <div class="card">
                <div class="category-card">
                  <div class="card-header category-name">
                    {{ category.name }}
                  </div>
                  {% if category.logo %}
                    <img src="{{category.logo.url}}" class="category_img"/>
                  {% else %}
                    <i class="fa fa-laptop logo_img" aria-hidden="true"></i>
                  {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                  {% for developer_info in developers %}
                    <li class="list-group-item">
                      <a href="{%url 'services' developer_info.slug %}" class="developer-type">
                        {% if developer_info.type_logo %}
                          <img src="{{developer_info.type_logo.url}}" class="category_img"/>
                        {% else %}
                          <i class="fa fa-laptop logo_img" aria-hidden="true"></i>
                        {% endif %}
                        {{developer_info.name}}
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="platform">

        <!-- ==========testimonials =========== -->
        {% include 'testimonials1.html' %}

        <!-- ==========our-clients =========== -->
        {% include 'our-clients.html' %}

        <!-- Company Stats -->
        {% include 'frequently_asked_questions.html' %}

        <!-- ==========Insights start=========== -->
        {% include 'insight.html' %}
        <!-- ==========Insights End=========== -->

        <div class="section-full overlay-primary-dark bg-img-fix letstouch">
          <div class="container">
            <div class="let-top">
              <h2 class="box-title m-b15">Let's get in touch<span class="bg-primary"></span></h2>
              <p class="font-16 op8">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours
                on business days.</p>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-5 chosesus-content text-white bx-style-1 extraPadding">

                <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.4s">
                  <div class="icon-bx-wraper bx-style-1 radius-sm">
                    <div class="icon-content">
                      <h5 class="dlab-tilte">
                        <span class="icon-sm text-primary text-left"><i class="fa fa-envelope-o"
                            aria-hidden="true"></i></span>
                        E-mail
                      </h5>
                      <p class="m-b0"><a href="mailto:info@vigisolvo.com">info@vigisolvo.com</a></p>
                      <p class="m-b0"><a href="mailto:hr@vigisolvo.com">hr@vigisolvo.com</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s"
                  style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                  <div class="icon-bx-wraper bx-style-1 radius-sm">
                    <div class="icon-content mt-3">
                      <h5 class="dlab-tilte">
                        <span class="icon-sm text-primary text-left"><i class="fa fa-volume-control-phone"
                            aria-hidden="true"></i></span>
                        Phone Number
                      </h5>
                      <p><a href="tel:+917987768061">+91 798-776-8061</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s"
                  style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                  <div class="icon-bx-wraper bx-style-1 radius-sm">
                    <div class="icon-content mt-3">
                      <h5 class="dlab-tilte">
                        <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                        Telegram
                      </h5>
                      <p><a href="https://t.me/mradul010" target="_blank">+91 798-776-8061</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s"
                  style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
                  <div class="icon-bx-wraper bx-style-1 radius-sm">
                    <div class="icon-content mt-3">
                      <h5 class="dlab-tilte">
                        <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
                        Skype
                      </h5>
                      <p><a href="skype:techsolvo05?chat" target="_blank">techsolvo05</a></p>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-7 col-md-7  m-b30">
                {% include 'pagecontact.html' %}


              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
  </diV>
  <!-- Footer -->
  <!-- Modal -->
  {% include 'Modal.html' %}
  <!-- Footer END-->
  </div>
</body>
{% endblock%}

{% block scripts %}

  <!-- JAVASCRIPT FILES ========================================= -->
  {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS --> {% endcomment %}
  {% comment %} <script src="{% static  'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS --> {% endcomment %}
  {% comment %} <script src="{% static  'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/rangeslider/rangeslider.js' %}" ></script><!-- Rangeslider --> {% endcomment %}
  {% comment %} <script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  --> {% endcomment %}
  {% comment %} <script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/loading/anime.js' %}"></script><!-- LOADING JS --> {% endcomment %}
  {% comment %} <script src="{% static 'plugins/loading/anime-app3.js' %}"></script><!-- LOADING JS --> {% endcomment %}
  <script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
  {% comment %} <script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  --> {% endcomment %}
  {% comment %} <script src="{% static 'js/mob-menubutton.js' %}"></script><!-- CUSTOM FUCTIONS for mob view menu button --> {% endcomment %}

  {% comment %} <script src="{% static 'assets/js/jquery-min.js' %}"></script> {% endcomment %}
  {% comment %} <script src="{% static 'assets/js/bootstrap-4-latest.min.js' %}"></script> {% endcomment %}
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      $('#Bestseller-slider2').owlCarousel({
        loop:false,
        nav:false,
        autoplay:false,
        dots:true,
        margin:20,
        smartSpeed: 1000,
        responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
        },navText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>","<i class='fa fa-angle-right' aria-hidden='true'></i>"]
      });
    });
  </script>

  <script type="text/javascript">
    $(".Email_To_Vlidate").keyup(function(){
      var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      var email = $(this).val();
      console.log('email', email)
      if (!regex.test(email)) {
          $(".email_validate").html("Enter Valid Email Id!")
      } else{
          $(".email_validate").fadeOut(1000)
      }
    });
  </script>

  <script>
    var pageform = $('#contactForm');
    pageform.submit(function (e) {
      e.preventDefault();
      $('#contactFormSubmit').html("<div class='quoteloader'></div>");
      $.ajax({
        type: pageform.attr('method'),
        url: pageform.attr('action'),
        data: $(pageform).serialize(),
        success: function(res) {
          if (res.status == 1){
            swal("Thank You!", "for reaching out to us! We appreciate your interest and will get back to you as soon as possible.", "success");
            $('#contactForm').trigger("reset");
            $('#contactFormSubmit').html("Submit");
          } else {
            swal("Error","Please complete the reCAPTCHA","error")
            $('#contactFormSubmit').html("Submit");
          };
        },
        error: function(error) {
          swal("Error","Enter the correct value","error")
          $('#contactFormSubmit').html("Submit");
          console.log(error);
        }
      });
    });
  </script>
  <script>
    var contactform = $('#quoteForm');
    contactform.submit(function (e) {
      e.preventDefault();
      $('#submitquote').html("<div class='quoteloader'></div>");
      $.ajax({
        type: contactform.attr('method'),
        url: contactform.attr('action'),
        data: $(contactform).serialize(),
        success: function(res) {
          if (res.status == 1){
              swal("Thank You!", "for reaching out to us! We appreciate your interest and will get back to you as soon as possible.", "success");
              $('#quoteForm').trigger("reset");
              $('#submitquote').html("Submit");
          };
        },
        error: function(error) {
          swal("Error","Enter the correct value","error")
          $('#submitquote').html("Submit");
          console.log(error);
        },
        complete: function() {
          $('#submitquote').html("Submit");
        }
      });
    });
  </script>

{% endblock scripts %}

