{% extends "base.html" %}
{% load static %}

<body id="bg">
<div class="page-wraper">
<div id="loading-area"><div class="la-anim-10"></div></div>
 {% block content %}
     <!-- header -->
         <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-primary">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Team</h1>
					<!-- Breadcrumb row -->

					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-full content-inner onlyPb">
                <div class="container">
					 <div class="section-heading center-holder text-center">
                    <h2>Our Office</h2>
                  </div>
				</div>
            </div>
            <!-- Our Services -->
			<!-- Tabs Start -->
			<section class="team-wap">
				<div class="container">
					<div class="row">
					    <div class="col-md-12">
					      <div class="gal">
					      	<div class="row">
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team1.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team1.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team2.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team2.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/images/team/team8.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team8.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/images/team/team4.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team4.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team9.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team9.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team10.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team10.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      	</div>


					      </div>
					    </div>
					  </div>

			    </div>
			</section>
			<!-- {% include 'gallery.html' %} -->
			<div class="section-full content-inner onlyPb">
                <div class="container">

					 <div class="section-heading center-holder text-center">
                    <h2>Our Culture & Celebration</h2>
                  </div>
				</div>
            </div>
            <!-- Our Services -->
			<!-- Tabs Start -->
			<section class="team-wap">
				<div class="container">
					<div class="row mt-5">
					    <div class="col-md-12">
					      <div class="gal">
					      	<div class="row">
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team5.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team5.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team15.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team15.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team16.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team16.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team14.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team14.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team12.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team12.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team13.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team13.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team11.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team11.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team7.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team7.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="main-iamg">
					      				<a href="/static/assets/images/team/team6.jpg" data-fancybox="gallery">
									      	<div class="container5">
											    <img src="/static/assets/images/team/team6.jpg" alt="Avatar" class="image6" style="width:100%">
												  <div class="overlay">
												    <div class="text"><i class="fa fa-eye" aria-hidden="true"></i></div>
												  </div>
											</div>
								         </a>
					      			</div>
					      		</div>
					      	</div>


					      </div>
					    </div>
					  </div>

			    </div>
			</section>

			<div class="section-full overlay-primary-dark bg-img-fix letstouch">
				<div class="container">
				  <div class="let-top">
					  <h2 class="box-title m-b15" >Let's get in touch<span class="bg-primary"></span></h2>
					  <p class="font-16 op8">Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
				  </div>
				  <div class="row">
					<div class="col-lg-5 col-md-5 chosesus-content text-white bx-style-1 extraPadding">

					  <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.4s">
						<div class="icon-bx-wraper bx-style-1 radius-sm">
						  <div class="icon-content">
							<h5 class="dlab-tilte">
							  <span class="icon-sm text-primary text-left"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							  E-mail
							</h5>
							<p class="m-b0"><a href="mailto:info@vigisolvo.com">info@vigisolvo.com</a></p>
							<p class="m-b0"><a href="mailto:hr@vigisolvo.com">hr@vigisolvo.com</a></p>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
						<div class="icon-bx-wraper bx-style-1 radius-sm">
						  <div class="icon-content mt-3">
							<h5 class="dlab-tilte">
							  <span class="icon-sm text-primary text-left"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></span>
							  Phone Number
							</h5>
							<p><a href="tel:+917987768061">+91 798-776-8061</a></p>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
						<div class="icon-bx-wraper bx-style-1 radius-sm">
						  <div class="icon-content mt-3">
							<h5 class="dlab-tilte">
							  <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
							  Telegram
							</h5>
							<p><a href="https://t.me/mradul010" target ="_blank">+91 8859994143</a></p>
						  </div>
						</div>
					  </div>
					  <div class="col-lg-12 col-md-12  col-sm-12 m-b30 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;">
						<div class="icon-bx-wraper bx-style-1 radius-sm">
						  <div class="icon-content mt-3">
							<h5 class="dlab-tilte">
							  <span class="icon-sm text-primary text-left"><i class="fa fa-telegram" aria-hidden="true"></i></span>
							  Skype
							</h5>
							<p><a href="skype:techsolvo05?chat" target ="_blank">techsolvo05</a></p>
						  </div>
						</div>
					  </div>

					</div>
					<div class="col-lg-7 col-md-7  m-b30">
					  {% include 'pagecontact.html' %}


									</div>
								  </div>
								</div>
							  </div>
							</div>
				  </div>
				</div>
			  </diV>

    <!-- Footer END-->
</div>
</body>
{% endblock content %}
{% block scripts %}
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{% static 'js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
{% comment %} <script src="{% static 'plugins/wow/wow.js' %}"></script><!-- WOW JS --> {% endcomment %}
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'plugins/rangeslider/rangeslider.js' %}" ></script><!-- Rangeslider -->
<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'js/dz.carousel.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'plugins/loading/anime.js' %}"></script><!-- LOADING JS -->
<script src="{% static 'plugins/loading/anime-app3.js' %}"></script><!-- LOADING JS -->
<script src='https://www.google.com/recaptcha/api.js'></script> <!-- Google API For Recaptcha  -->
<script src="{% static 'js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->
<script src="{% static 'js/mob-menubutton.js' %}"></script><!-- CUSTOM FUCTIONS for mob view menu button -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
            "use strict";
            //  TESTIMONIALS CAROUSEL HOOK
            $('#customers-testimonials').owlCarousel({
                loop: true,
                center: true,
                items: 3,
                margin: 0,
                autoplay: true,
                dots:true,
                autoplayTimeout: 8500,
                smartSpeed: 450,
                responsive: {
                  0: {
                    items: 1
                  },
                  768: {
                    items: 2
                  },
                  1170: {
                    items: 3
                  }
                }
            });
          });
  </script>

  <script>
	var pageform = $('#contactForm');
	pageform.submit(function (e) {
	  e.preventDefault();
	  $('#contactFormSubmit').html("<div class='quoteloader'></div>");
	  $.ajax({
		type: pageform.attr('method'),
		url: pageform.attr('action'),
		data: $(pageform).serialize(),
		success: function(res) {
		  if (res.status == 1){
			swal("Thank You!", "for reaching out to us! We appreciate your interest and will get back to you as soon as possible.", "success");
			$('#contactForm').trigger("reset");
			$('#contactFormSubmit').html("Submit");
		  } else {
			swal("Error","Please complete the reCAPTCHA","error")
			$('#contactFormSubmit').html("Submit");
		  };
		},
		error: function(error) {
		  swal("Error","Enter the correct value","error")
		  $('#contactFormSubmit').html("Submit");
		  console.log(error);
		}
	  });
	});
  </script>

{% endblock scripts %}
