{% load static %}
<div class="mb-120 d-block"></div>
<section class="overflow-hidden bg-top-center th-radius3 m-4 mt-0 mb-0 space background-image arrow-wrap" id="testi-sec">
  <div class="container th-container4">
    <div class="row justify-content-lg-between justify-content-center align-items-end">
      <div class="col-xxl-4 col-xl-6">
        <div class="title-area text-center text-lg-start">
          <span class="sub-title style1 text-white">Customer Feedbacks</span>
          <h2 class="sec-title text-white">
            See what our clients have to say
          </h2>
        </div>
      </div>
      <div class="col-lg-auto d-none d-xl-block">
        <div class="sec-btn">
          <div class="icon-box">
            <button data-slider-prev="#testiSlider5" class="slider-arrow prev style2 default">
              <i class="fas fa-arrow-left"></i>
            </button>
            <button data-slider-next="#testiSlider5" class="slider-arrow next style2 default">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-area">
      <!-- Swiper -->
      <div class="swiper th-slider has-shadow" id="testiSlider5">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testi-box5 th-ani">
              <p class="testi-box5_text">
                “Great to work with Vigisolvo, really recommended to whoever needs expertise in Django and backend development, he was able to complete the task in time and gave feedback as well.”
              </p>
              <div class="testi-box5_wrapper">
                <div class="testi-box5_profile">
                  <div class="testi-box5_author">
                    <img src="/static/assets/images/client/steveKaplin.webp" alt="Avatar">
                  </div>
                  <div class="testi-box5_info">
                    <h3 class="box-title">Steve Kaplan</h3>
                    <span class="testi-box5_desig">CEO</span>
                  </div>
                </div>
                <div class="testi-quote">
                  <img src="{% static 'assets/images/icons/quote.svg' %}" alt="quote" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testi-box5 th-ani">
              <p class="testi-box5_text">
                “I had the pleasure of working with Vigisolvo on a Django API project with Postgres SQL, and I couldn't be more impressed with their work. Their team of developers demonstrated an exceptional level of technical expertise, delivering a high-performing and scalable solution that met all of our requirements.”
              </p>
              <div class="testi-box5_wrapper">
                <div class="testi-box5_profile">
                  <div class="testi-box5_author">
                    <img src="/static/assets/images/client/HamidMehmood.webp" alt="Avatar">
                  </div>
                  <div class="testi-box5_info">
                    <h3 class="box-title">Hamid Mehmood</h3>
                    <span class="testi-box5_desig">CEO - Al-Jawda LTD</span>
                  </div>
                </div>
                <div class="testi-quote">
                  <img src="{% static 'assets/images/icons/quote.svg' %}" alt="quote" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testi-box5 th-ani">
              <p class="testi-box5_text">
                “I recently worked with Vigisolvo on an OCR app with React Native, and I must say I'm thoroughly impressed with their work. Their team of developers displayed a high level of technical skill and expertise, delivering an app that met all of our expectations and requirements.”
              </p>
              <div class="testi-box5_wrapper">
                <div class="testi-box5_profile">
                  <div class="testi-box5_author">
                    <img src="/static/assets/images/client/pariHoxa.webp" alt="Avatar">
                  </div>
                  <div class="testi-box5_info">
                    <h3 class="box-title">Pari Hoxa</h3>
                    <span class="testi-box5_desig">CEO - Ideas Graphics</span>
                  </div>
                </div>
                <div class="testi-quote">
                  <img src="{% static 'assets/images/icons/quote.svg' %}" alt="quote" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testi-box5 th-ani">
              <p class="testi-box5_text">
                “I had the pleasure of working with Vigisolvo on a smart contract development project for my law firm, and I must say they exceeded my expectations. Their team of developers demonstrated an exceptional level of technical knowledge and expertise, delivering a highly secure and efficient smart contract solution that met all of our requirements.”
              </p>
              <div class="testi-box5_wrapper">
                <div class="testi-box5_profile">
                  <div class="testi-box5_author">
                    <img src="/static/assets/images/client/johnBurt.jpeg" alt="Avatar">
                  </div>
                  <div class="testi-box5_info">
                    <h3 class="box-title">John Burt</h3>
                    <span class="testi-box5_desig">CEO - Inhourse Attorney</span>
                  </div>
                </div>
                <div class="testi-quote">
                  <img src="{% static 'assets/images/icons/quote.svg' %}" alt="quote" />
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testi-box5 th-ani">
              <p class="testi-box5_text">
                “I recently worked with Vigisolvo on a Solidity and NFT contract project, and I must say I was thoroughly impressed with their work. Their team of blockchain developers displayed a high level of technical skill and expertise, delivering a secure and efficient NFT contract solution that met all of our requirements.”
              </p>
              <div class="testi-box5_wrapper">
                <div class="testi-box5_profile">
                  <div class="testi-box5_author">
                    <img src="/static/assets/images/client/JarrodBarton.webp" alt="Avatar">
                  </div>
                  <div class="testi-box5_info">
                    <h3 class="box-title">Jarrod Barton</h3>
                    <span class="testi-box5_desig">CEO - Myriatech</span>
                  </div>
                </div>
                <div class="testi-quote">
                  <img src="{% static 'assets/images/icons/quote.svg' %}" alt="quote" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var testiSlider = new Swiper("#testiSlider5", {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 20,
      autoplay: {
        delay: 3000,
        disableOnInteraction: true,
      },
      navigation: {
        nextEl: ".slider-arrow.next",
        prevEl: ".slider-arrow.prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        },
      },
    });
  });
</script>
{% endblock scripts %}
<!--<section class="card-wap">
  <div class="container">
    <div class="section-heading center-holder text-center">
      <h2>Our Testimonials</h2>
      <p>At Vigisolvo, we take pride in delivering top-quality IT solutions that exceed our clients' expectations. Our clients' satisfaction is our top priority, and we are committed to providing exceptional service and support throughout every project. Here are some testimonials from our satisfied clients who have experienced the benefits of our expertise and commitment to excellence.</p>
    </div>
    <div class="Common_outer2 mt-5">
      <div class="owl-carousel owl-theme wow fadeInUp" id="Bestseller-slider2">
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div class="live-imag">
                <img src="/static/assets/images/client/steveKaplin.webp" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="live-main">
                <div class="live-content">
                  <span class="quote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>
                  <h6>Steve Kaplan</h6>
                  <span>CEO</span>
                  <p>"Great to work with Vigisolvo, really recommended to whoever needs expertise in Django and backend development, he was able to complete the task in time and gave feedback as well."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div class="live-imag">
                <img src="/static/assets/images/client/HamidMehmood.webp" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="live-main">
                <div class="live-content">
                  <span class="quote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>
                  <h6>Hamid Mehmood</h6>
                  <span>CEO - Al-Jawda LTD</span>
                  <p>"I had the pleasure of working with Vigisolvo on a Django API project with Postgres SQL, and I couldn't be more impressed with their work. Their team of developers demonstrated an exceptional level of technical expertise, delivering a high-performing and scalable solution that met all of our requirements."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div class="live-imag">
                <img src="/static/assets/images/client/pariHoxa.webp" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="live-main">
                <div class="live-content">
                  <span class="quote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>
                  <h6>Pari Hoxa</h6>
                  <span>CEO - Ideas Graphics</span>
                  <p>"I recently worked with Vigisolvo on an OCR app with React Native, and I must say I'm thoroughly impressed with their work. Their team of developers displayed a high level of technical skill and expertise, delivering an app that met all of our expectations and requirements."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div class="live-imag">
                <img src="/static/assets/images/client/johnBurt.jpeg" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="live-main">
                <div class="live-content">
                  <span class="quote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>
                  <h6>John Burt</h6>
                  <span>CEO - Inhourse Attorney</span>
                  <p>I had the pleasure of working with Vigisolvo on a smart contract development project for my law firm, and I must say they exceeded my expectations. Their team of developers demonstrated an exceptional level of technical knowledge and expertise, delivering a highly secure and efficient smart contract solution that met all of our requirements.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-md-6">
              <div class="live-imag">
                <img src="/static/assets/images/client/JarrodBarton.webp" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="live-main">
                <div class="live-content">
                  <span class="quote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>
                  <h6>Jarrod Barton</h6>
                  <span>CEO - Myriatech</span>
                  <p>
                    I recently worked with Vigisolvo on a Solidity and NFT contract project, and I must say I was thoroughly impressed with their work. Their team of blockchain developers displayed a high level of technical skill and expertise, delivering a secure and efficient NFT contract solution that met all of our requirements.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->