<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="django handler" />
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Unspecified" requireAccess="Read" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python310\python.exe|C:\inetpub\wwwroot\techsolvo\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="base.html" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="RemoveDoubleSlash" patternSyntax="ECMAScript" stopProcessing="true">
                <match url="(.*)" />
                <action type="Redirect" url="{C:1}/{C:2}" />
                <conditions>
                    <add input="{UNENCODED_URL}" pattern="(.*)//(.*)" />
                </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\techsolvo" />
        <add key="DJANGO_SETTINGS_MODULE" value="techsolvo.settings" />
    </appSettings>
</configuration>
